#grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
  }

#grid div {
    display: flex;
    color: black; /* <-- Change this line */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background: lightgray;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background: linear-gradient(270deg, #3ec80b, #eedc4b, #fd095d, #15dbd4);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;;
    padding: 20px;
    border-radius: 10px;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}