#grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
  }

  #grid div {
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background: lightgray;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

body{
    text-align: center;
}